//HOME PAGE
$small-screen: 320px;
$medium-screen: 540px;
$tablet-screen: 768px;
$small-desktop-screen: 940px;
$desktop-screen: 1224px;
$large-desktop-screen: 1340px;
$x-large-desktop-screen: 2560px;

.header-images {
    img{
        &:nth-of-type(1) {
            width: 90%;
            bottom: 0;
            @media screen and (min-width: $tablet-screen) {
                width: 65%;
            }
        }
        &:nth-of-type(2) {
            right: 50%;
            width: 70%;
            bottom: 0;
            @media screen and (min-width: $tablet-screen) {
                width: 55%;
            }
        }
        &:nth-of-type(3) {
            left: 50%;
            width: 70%;
            bottom: 0;
            @media screen and (min-width: $tablet-screen) {
                width: 55%;
            }
        }
    }
}

.brand-container {
    img {
        width: auto;
        height: 36px;
    }
}

.bg-gradient-purple {
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1000px;
        border-radius: 500px;
        filter: blur(50px);
        background: linear-gradient(#fcfcfd 0%, rgba(243, 232, 255, 0.5) 36.95%, rgba(238, 233, 255, 0.5) 64.53%, #fcfcfd 100%);

    }
}