@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'custom.scss';

@font-face {
  font-family: 'SF Pro';
  src: url('../public/SF-Pro.ttf') format('ttf');
  /* Add more formats if available */
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-background-color: #101213;
  --primary-color: #7A4AFF;
  --button-dark-bg: #1c1d2d;
  --text-grey: #656D76
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-background-color: #020214;
    --primary-color: #7A4AFF;
    --button-dark-bg: #1c1d2d;
    --text-grey: #656D76
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.no-scroll {
  overflow: hidden;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #FCFCFC;
  color: #0D0C22;
  background-image: url('../public/home/header-bg-grid.svg');
  background-repeat: repeat;
  font-family: 'SF Pro', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 16px;
  @media screen and (min-width: $tablet-screen) {
    padding: 0px 64px;
  }
  @media screen and (min-width: $large-desktop-screen) {
    padding: 0px 16px;
  }
}

.home-page {
  background-color: var(--dark-background-color);
  position: relative;
  background-image: url('../public/bg-grid.svg');
  background-repeat: repeat-x;
  overflow: hidden;
}

.purple-gradient {
  // background-image: linear-gradient(150deg,#94bbf8,#7a4aff 80%);
  background-image: linear-gradient(160deg, #f1e0ff, #3b46ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spaced-m {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @media screen and (min-width: $tablet-screen) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.spaced-p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: $tablet-screen) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.background-purple {
  background: var(--primary-color);
}
.dark-bg {
  background: var( --dark-background-color);
}
.background-dark {
  background: var(--button-dark-bg);
}
.background-none {
  background: none;
}

.highlighted-purple-text {
  padding: 0.25rem 1.25rem;
  text-align: center;
  color: white;
  display: inline-block;
  background: linear-gradient(60deg, #c193f8 0%, #6c72f1 100%);

}

.text-purple {
  color: var(--primary-color);
}

.button-behaviour {
  transition:.2s ease
 }
 .button-behaviour:hover {
  transform:translateY(-2px)
}

.background-purple:hover {
  background-color: #8B62FC!important;
}

.background-dark:hover {
  background: #2B2D3E!important;
}

.home-page:after,
.home-page:before {
 content:"";
 display: none;
 @media screen and (min-width: $tablet-screen) {
    position:absolute;
    display: block;
    width:100%;
    border-radius:50%;
    background:linear-gradient(150deg,#7a4aff,#270093);
    z-index:1;
  }
}

.home-page:before {
  display: none;
  @media screen and (min-width: $tablet-screen) {
    top:-5%;
    height:80px;
    display: block;
    filter:blur(50px);
    opacity: 0.3;
  }
 }

 input {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  &::placeholder {
    font-size: 14px;
    color: gray;
  }
}

textarea:focus, input:focus{
  outline: none;
  border-color: var(--primary-color);
}

textarea {
  resize: none;
  &::placeholder {
    font-size: 14px;
    color: gray;
  }
}