/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'custom.scss';

@font-face {
  font-family: 'SF Pro';
  src: url('/SF-Pro.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-background-color: #080707;
  --primary-color: #7A4AFF;
  --button-dark-bg: #1c1d2d;
  --text-grey: #656D76;
  --border-colour-dark: #222;
  --background-light: #FBFBFD;
  --text-on-dark: #a7a7a7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-background-color: #080707;
    --primary-color: #7A4AFF;
    --button-dark-bg: #1c1d2d;
    --text-grey: #656D76;
    --border-colour-dark: #222;
    --background-light: #FBFBFD;
    --text-on-dark: #a7a7a7;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scroll {
  overflow: hidden;
}

body {
  font-size: 16px;
  background-color: #FCFCFC;
  overflow-x: hidden;
  color: #0D0C22;
  // background-image: url('/home/header-bg-grid.svg');
  background-repeat: no-repeat;
  font-family: 'SF Pro', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 16px;
  @media screen and (min-width: $tablet-screen) {
    padding: 0px 64px;
  }
  @media screen and (min-width: $large-desktop-screen) {
    padding: 0px 16px;
  }
}

.home-page {
  background-color: var(--dark-background-color);
  position: relative;
  // background-image: url('/bg-grid.svg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-home-page {
  // background-color: var(--dark-background-color);
  position: relative;
  // background-image: url('/bg-grid.svg');
  // background-repeat: no-repeat;
  overflow: hidden;
  min-height: 750px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 1;
  }
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.purple-gradient {
  // background-image: linear-gradient(150deg,#94bbf8,#7a4aff 80%);
  background-image: linear-gradient(160deg, #f1e0ff, #3b46ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1 !important;
}

.spaced-m {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @media screen and (min-width: $tablet-screen) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.spaced-p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: $tablet-screen) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.background-purple {
  background: var(--primary-color);
}
.dark-bg {
  background: var( --dark-background-color);
}
.background-dark {
  background: var(--button-dark-bg);
}
.background-none {
  background: none;
}

.highlighted-purple-text {
  padding: 0.25rem 1.25rem;
  text-align: center;
  color: white;
  display: inline-block;
  background: linear-gradient(60deg, #c193f8 0%, #6c72f1 100%);

}

.text-purple {
  color: var(--primary-color);
}

.button-behaviour {
  transition:.2s ease
 }
 .button-behaviour:hover {
  transform:translateY(-2px)
}

.background-purple:hover {
  background-color: #8B62FC!important;
}

.background-dark:hover {
  background: #2B2D3E!important;
}

.home-page:after,
.home-page:before {
 content:"";
 display: none;
 @media screen and (min-width: $tablet-screen) {
    position:absolute;
    display: block;
    width:100%;
    border-radius:50%;
    background:linear-gradient(150deg,#7a4aff,#270093);
    z-index:1;
  }
}

.home-page:before {
  display: none;
  @media screen and (min-width: $tablet-screen) {
    top:-5%;
    height:80px;
    display: block;
    filter:blur(50px);
    opacity: 0.3;
  }
 }

 input {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  &::placeholder {
    font-size: 14px;
    color: gray;
  }
}

textarea:focus, input:focus{
  outline: none;
  border-color: var(--primary-color);
}

textarea {
  resize: none;
  &::placeholder {
    font-size: 14px;
    color: gray;
  }
}
.mobile-services_grid {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(2, min-content);
}

.mobile-services_card:nth-of-type(1) {
  grid-column: auto / span 3;
}

.mobile-services_card:nth-of-type(2),
.mobile-services_card:nth-of-type(3) {
  grid-column: auto / span 2;
}

.mobile-services_card:nth-of-type(4) {
  grid-column: auto / span 3;
}

/* Responsive adjustments */
@media (max-width: 1024px) { /* Tablet breakpoint */
  .mobile-services_grid {
    grid-template-columns: repeat(2, 1fr); /* Equal width columns for tablets */
  }
  
  .mobile-services_card:nth-of-type(1),
  .mobile-services_card:nth-of-type(2),
  .mobile-services_card:nth-of-type(3),
  .mobile-services_card:nth-of-type(4) {
    grid-column: auto / span 1; /* Each card spans one column */
  }
}

@media (max-width: 1000px) { /* Mobile breakpoint */
  .mobile-services_grid {
    grid-template-columns: 1fr; /* Full-width column for mobile */
  }

  .mobile-services_card:nth-of-type(1),
  .mobile-services_card:nth-of-type(2),
  .mobile-services_card:nth-of-type(3),
  .mobile-services_card:nth-of-type(4) {
    grid-column: auto / span 1; /* Each card spans one column */
  }
}

.hidden-on-mobile {
  opacity: 0;
  visibility: 0;
}

.service-info-card_description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.service-info-card_description a {
  color: var(--primary-color);
}

.location-faq a {
  color: var(--primary-color);
}

.location_introduction_desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}